
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('./../img/grass.jpg');
  background-size: cover;
  color: white;
  font-family: monospace;
  padding: 1em;
  overflow: hidden;
}
h1 {
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    margin: 0;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}
.snake-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}
.snake-title {
    text-align: center;
}
.snake-stats {
    position: static;
    display: flex;
    justify-content: space-around;
    height: 115px;
}
.snake-middle {
  height: 63vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snake-game-window {
  width: 35em;
  height: 35em;
  border: 10px solid #2e8031;
  background-color: black;
  position: relative;
  opacity: .9;
}
.snake-cell-square {
  height: 5%;
  width: 5%;
  background: black;
  float: left;
}
.snake {
  background-color: #adcc39;
  border: 1px solid black;
  border-radius: 5px;
}
.dead-snake {
  background-color: #d20707;
  border: 1px solid black;
  border-radius: 5px;
}
.snake-food {
  background-color: white;
  border-radius: 50%;
}
.snake-score {
  height: 60px;
  border: 8px solid #2e8031;
  color: #2e8031;
  font-size: 45px;
  background: black;
  opacity: .8;
}
.snake-mobile-directions {
    display: none;
}
.copyright {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    left: 40%;
}
@media (max-width: 770px) {
    .snake-mobile-directions {
        display: block;
    }
    .snake-directions {
        display: none;
    }
}
@media (max-width: 425px) {
    .snake-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
    }
    h2 {
        font-size: 22px;
    }
    .snake-game-window {
        width: 100%;
        height: 100%;
    }
    .copyright {
        display: none;
    }
    .snake-mobile-directions {
        position: absolute;
        bottom: 5px;
    }
}