html {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}
.logo {
  float: left;
  margin: 15px 0px 0px 50px;
}
.middle {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-window {
  width: 35em;
  height: 35em;
  border: 10px solid #4caf50;
  background-color: black;
  position: relative;
}
.cell-square {
  height: 5%;
  width: 5%;
  background: black;
  /*background: url('../img/green.jpg') no-repeat;*/
  float: left;
}
.snake {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 5px;
}
.dead-snake {
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
}
.food {
  background-color: white;
  border-radius: 50%;
}
.stats {
  height: 70px;
  margin: 90px auto 0px auto;
}
.stats h2 {
  font-size: 29px;
  font-family: monospace;
}
.score {
  width: 4em;
  height: 60px;
  border: 8px solid #4caf50;
  color: #4caf50;
  font-size: 45px;
  background: black;
  margin: auto;
  margin: 0px auto 75px auto;
}
.high-score {
  width: 4em;
  height: 60px;
  border: 8px solid #4caf50;
  color: #4caf50;
  font-size: 45px;
  background: black;
  margin: auto;
}
.rules {
  font-size: 29px;
  font-family: monospace;
}
